.ea{
 line-height:1.3;/*important*/
 padding-left:2.5rem;/*important*/ 
}
.ea{
 max-width:100%;
 position:relative; 
 font-family:monospace;
 outline:none;
 height:auto; 
 flex-grow:1;
 word-break:break-all;
 white-space:pre-wrap;
}
.ea:before{
 position:absolute;left:0;right:0;
 content:attr(data-num);
 white-space:pre-wrap;
}
